.p-menubar a {
  text-decoration: none !important;
}

.barra-menubar, .p-menubar {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.card.p-0 {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.calendar-rounded-icon .p-datepicker-trigger {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active-navbar-item {
  background-color: #cecef6 !important;
  font-weight: bold;
  border-radius: 0.5rem;
  color: black !important;
}

.p-menuitem-link,
.p-menuitem-link span {
  color: black !important;
}
